<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.DainaMapper">

  <update id="updateDaina" parameterType="com.wy.bean.Daina">
    update daina
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null">
        expressNumber = #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="tip != null">
        tip = #{tip,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="myAddress != null">
        myAddress = #{myAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressType != null">
        expressType = #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
    where id= #{id,jdbcType=VARCHAR}
  </update>
</mapper>